
/* Меню справа, которые включаются в обычном меню */

#menu-left-products {
    position: fixed;
    width: calc(100% - 400px);
    height: 100vh;
    top: 0;
    left: 400px;
    z-index: 999;
    background: var(--color-font-light);
    transition: all .5s ease-in-out;
    transform: translateX(-30px);
    visibility: hidden;
    opacity: 0;
}

#menu-left-products.active {
    transition: all .5s ease-in-out;
    visibility: visible;
    opacity: 1;
    transform: none;
}

#menu-left-more {
    position: fixed;
    width: calc(100% - 400px);
    height: 100vh;
    top: 0;
    left: 400px;
    z-index: 999;
    background: var(--color-font-light);
    transition: all .5s ease-in-out;
    transform: translateX(-30px);
    visibility: hidden;
    opacity: 0;
}

#menu-left-more.active {
    transition: all .5s ease-in-out;
    visibility: visible;
    opacity: 1;
    transform: none;
}

.menu-left__inner {
    padding: 30px;
    padding-top: 50px;
}

.menu-left__top {
    height: 50px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color-font-dark-tr);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    transition: all .3s linear;
    font-size: 24px;
    font-weight: 600;
    color: rgba(55, 55, 55, 0.8);
}

.menu-left__bottom {
    padding: 30px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    row-gap: 35px;
    overflow-y: auto;
}

.menu-left__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    transition: all .3s linear;
}

.menu-left__item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .3s linear;
}

.menu-left__item:hover .menu-left__item-img {
    filter: brightness(0.8);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50) inset;
}

.menu-left__item-text {
    position: relative;
}

.menu-left__item-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 0;
    background: var(--color-font-dark-tr);
    transition: .3s ease-in-out;
    z-index: -1;
}

.menu-left__item-text:hover::after {
    width: 100%;
}





/* Настройки бокового меню */

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 415px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    background-color: #fafafa;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
    display: block;
    background: #f6f6f6;
    box-shadow: inset -10px 0px 25px rgba(0, 0, 0, 0.25);
}

#panel {
    filter: none;
    transition: all 0.3s linear !important;
}

#panel.hide {
    filter: brightness(0.5);
    transition: all 0.3s linear;
}

#menu {
    display: block;
    padding: 30px;
    padding-top: 50px;
}

/* для нажатия */
.panel:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}










/* Обычное боковое меню */


.menu-mob__list {
    padding: 0 !important;
}

.menu-mob__close-btn {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(37, 37, 37, 0.5);
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    transition: all .3s linear;
    cursor: pointer;
    padding: 15px;
}

.menu-mob__close {
    font-size: 30px;
}

.menu-mob__title {
    color: rgba(55, 55, 55, 0.8);
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

#menu ul {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

#menu ul>li {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    transition: all .3s linear;
}

#menu ul>li a {
    color: rgba(37, 37, 37, 0.6);
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    transition: all .3s linear;
    padding: 10px 15px;
    width: 100%;
    display: block;
    cursor: pointer;
}

#menu ul>li:hover a {
    background: rgba(0, 0, 0, 0.05);
}

.menu-mob__products,
.menu-mob__more {
    position: relative;
    transition: all .3s linear;
}

.menu-mob__products::after,
.menu-mob__more::after {
    content: "\e901";
    font-size: 22px;
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--color-font-dark-tr);
    opacity: 0;
    transition: all .3s linear;
}

.menu-mob__products:hover::after,
.menu-mob__more:hover::after {
    transition: all .3s linear;
    opacity: 1;
}

#menu .menu-mobile__list {
    display: flex;
    flex-direction: column;
}

#menu .menu-mobile__list {
    display: none;
}

#menu .menu-mobile__list>li {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    transition: all .3s linear;
}

#menu .menu-mobile__list>li a {
    color: rgba(37, 37, 37, 0.6);
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    transition: all .3s linear;
    padding: 10px 15px;
    width: 100%;
    display: block;
    cursor: pointer;
}

#menu .menu-mobile__list>li:hover a {
    background: rgba(0, 0, 0, 0.05);
}

.menu-mobile__products,
.menu-mobile__more {
    position: relative;
    transition: all .3s linear;
}

.menu-mobile__products::after,
.menu-mobile__more::after {
    content: "\e940";
    font-size: 22px;
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--color-font-dark-tr);
    opacity: 1;
    transition: all .3s linear;
}

.menu-mobile__more.active::after,
.menu-mobile__products.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.menu-mobile__products-list,
.menu-mobile__more-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 25px;
    padding-top: 20px;
}



@media (max-width: 650px) {
    #menu .menu-mobile__list {
        display: flex;
    }

    #menu .menu-mob__list {
        display: none;
    }
}

@media (max-width: 400px) {
    #menu {
        width: 100%;
    }
}



