.footer {
  background: #9d9d9d;
  height: 80px;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__logo {
  height: 50px;
  width: 50px;
  background: #E2E2E2;
}